body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #334;
}

#page-message {
    text-align: center;
    width: 100%;
    margin-top: 18px;
    color: #aab4b4;
}

#listing-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 6px;
}

.listing-outer {
    margin: 6px;
}

.listing-tabs-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.listing-tab {
    margin-right: 6px;
    padding: 6px 12px 3px 12px;
    border-radius: 12px 12px 0 0;
    border-color: #44A #229 #000 #44A;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    background-color: #77D;
}

.listing-tab button {
    background-color: inherit;
}

.listing-tab img {
    height: 30px;
    width: 30px;
}

.listing, #add-inner, #filter-inner {
    border-radius: 10px;
    border: 4px solid #DDD;
    border-bottom-color: #666;
    border-right-color: #666;
    padding: 12px;
    background-color: #ccc;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#d0d0d0),to(#aab4b4));
    background-image: -o-linear-gradient(#d0d0d0,#aab4b4);
    background-image: linear-gradient(#d0d0d0,#aab4b4);
    max-width: 350px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0 0 18px 0;
}

p {
    margin: 0;
    display: inline-block;
}

p, input[type="text"], input[type="number"], label {
    font-size: 12pt;
}

.info-row {
    margin: 0;
}

.info-row > * {
    margin: 6px 12px 0 0;
    display: inline-block;
}

.info-row img {
    max-height: 15px;
    max-width: 15px;
    margin-right: 6px;
    display: inline-block;
}

.info-row .star-filled {
    max-height: 25px !important;
    max-width: 25px !important;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.address {
    font-size: 18pt;
    font-weight: bold;
}

.rent {
    font-size: 18pt;
    font-weight: bold;
    color: #2A2;
}

.details {
    font-size: 10pt;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
}

button:focus, input[type="button"]:focus {
    outline: none;
}

#addbutton, #filterbutton {
    position: fixed;
    right: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-color: #44A;
    border-style: solid;
    border-width: 0 4px 4px 0;
    background: #77D;
}

#addbutton {
    bottom: 15px;
}

#filterbutton {
    bottom: 105px;
}

#addbutton:active, #filterbutton:active {
    -webkit-transform: translate(3px,3px);
        -ms-transform: translate(3px,3px);
            transform: translate(3px,3px);
    border-width: 0 1px 1px 0;
}

#filterbutton img {
    width: 40px;
    margin-top: 5px;
}

#addbutton img {
    width: 60px;
}

#add-outer, #filter-outer {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(34,34,34,0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#add-inner, #filter-inner {
    z-index: 8;
}

#add-parent, #filter-parent {
    visibility: hidden;
}

label {
    margin: 3px 0 3px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

form input[type="text"], form input[type="number"], form select {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
    padding: 2px;
}

form input[type="checkbox"] {
    height: 16pt;
    margin: 1pt;
}

.radio-column {
    display: flex;
    flex-direction: column;
}

form input[type="submit"], form input[type="button"] {
    float: right;
    margin: 12px 6px 12px 6px;
    font-size: 12pt;
    padding: 6px;
    border-radius: 6px;
}

form select {
    font-size: 12pt;
}

.linked-input {
    margin-right: 12px !important;
    width: 35%;
}

.required::after {
    content: "*";
    color: red;
}

label.required:first-of-type {
    margin: 0 0 18px 0;
}
