body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}

#listing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    padding: 6px;
}

.listing {
    margin: 6px;
}

.listing, #add-inner {
    border-radius: 10px;
    border: 4px solid #DDD;
    border-bottom-color: #666;
    border-right-color: #666;
    padding: 12px;
    background-color: #ccc;
    max-width: 350px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
    display: inline-block;
}

p, input[type="text"], input[type="number"], label {
    font-size: 12pt;
}

.info-row {
    margin: 0;
}

.info-row > * {
    margin: 6px 12px 0 0;
    display: inline-block;
}

.info-row img {
    max-height: 15px;
    max-width: 15px;
    margin-right: 6px;
    display: inline-block;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.address {
    font-size: 18pt;
    font-weight: bold;
}

.rent {
    font-size: 18pt;
    font-weight: bold;
    color: #2A2;
}

.details {
    font-size: 10pt;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
}

button:focus, input[type="button"]:focus {
    outline: none;
}

#addbutton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-color: #44A;
    border-style: solid;
    border-width: 0 4px 4px 0;
    background: #77D;
}

#addbutton:active {
    transform: translate(3px,3px);
    border-width: 0 1px 1px 0;
}

#addbutton img {
    width: 75px;
}

#add-outer {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(34,34,34,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-inner {
    z-index: 8;
}

#add-parent {
    visibility: hidden;
}

label {
    margin: 3px 0 3px 0;
    display: flex;
    padding: 0;
}

#add-inner input[type="text"], #add-inner input[type="number"] {
    flex-grow: 1;
    margin: 0;
    padding: 2px;
}

#add-inner input[type="checkbox"] {
    height: 16pt;
    margin: 1pt;
}

#add-inner input[type="submit"], #add-inner input[type="button"] {
    float: right;
    margin: 12px 6px 12px 6px;
    font-size: 12pt;
    padding: 6px;
    border-radius: 6px;
}

.required::after {
    content: "*";
    color: red;
}

label.required:first-of-type {
    margin: 12px 0 18px 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
